<!DOCTYPE html>
<html>
  <head>
    <title>Walsh Video Wall Survey Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" />
		<link href="css/bootstrap-colorselector.css" rel="stylesheet" />
	
    <link href="css/site.css" rel="stylesheet" />
	<!--[if IE]>
		<link href="css/ie.css" rel="stylesheet" />
	<![endif]-->
	

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body><div id="pageContainer">
		
		<h1>Live Survey Results</h1>
		
		<div class="question">Which answer did you choose?</div>
		
		<div class="answerRow">
			<div class="answer">Answer A</div> <div class="barBox"><div class="bar" id="q1A"/></div>
		</div>
		
		<div class="answerRow">
			<div class="answer">Answer B</div> <div class="barBox"><div class="bar" id="q1B"/></div>
		</div>

		<div class="answerRow">
			<div class="answer">Answer C</div> <div class="barBox"><div class="bar" id="q1C"/></div>
		</div>

		<div class="answerRow">
			<div class="answer">Answer D</div> <div class="barBox"><div class="bar" id="q1D"/></div>
		</div>
		
    </div><!-- pageContainer -->
    
    <script src="js/jquery.js"></script>
		<script src="js/jquery-ui.js"></script>
		<script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.js"></script>
		<script src="js/ejs.js"></script>
	
    <script src="survey.js"></script>
  </body>
</html>